body {
  margin: 0px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  flex-grow: 1;
}

.header,
.container-one {
  background-color: rgb(34, 40, 56);
  display: flex;
  padding: 30px 125px;
  justify-content: space-between;
  margin: 0px;
  color: rgb(235, 235, 235)
}

.logo,
.header-links {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 15px;
  font-weight: 400;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: rgb(235, 235, 235)
}

.logo {
  font-weight: 700;
  font-size: 20px;
}

.container-one {
  padding: 75px 125px;
  gap: 50px;
  align-items: center;
}

.text-box {
  width: 300px;
  flex-grow: 2;
}

.container-one button {
  margin-top: 10px;
  flex-grow: 0;
  border: solid rgb(60, 95, 220);
  background-color: rgb(60, 95, 220);
  color: white;
  border-radius: 10px;
  width: 100px;
  padding: 5px;
}

.container-one img {
  width: 350px;
  flex-grow: 1;
}

.description {
  font-size: 14px;
  font-weight: 400;
}

.text-box .title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 0px;
}

.container-two .title {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  flex-shrink: 0;
  text-align: center;
  flex: 1;
  padding: 20px;
  font-size: 13px;
  font-weight: 400;
}

.icon img {
  max-width: 200px;
  border: solid rgb(73, 106, 181);
  border-radius: 15px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.container-three {
  padding: 100px 0px;
  display: flex;
  justify-content: center;
  background-color: rgb(223, 222, 222);
}

.quote-container {
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.quote {
  display: flex;
  font-size: 25px;
  font-style: italic;
  max-width: 800px;
  font-weight: 300;
}

.speaker {
  padding-left: 600px;
}

.container-four {
  display: flex;
  justify-content: center;
}

.sign-up {
  margin: 90px;
  padding: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 700px;
  padding: 40px;
  background-color: rgb(71, 121, 238);
  border-radius: 10px;
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
}

.sign-up-container {
  font-weight: 700;
}

.container-four button {
  display: flex;
  margin: 0 40px;
  flex-direction: row;
  align-items: center;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  padding: 5px 20px;
  background-color: rgb(71, 121, 238);
}

.footer {
  background-color: rgb(34, 40, 56);
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.footer .credits {
  font-weight: 300;
}
